<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="target-platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="Project-Reactor.feature.group" version="3.2.0"/>
			<unit id="Project-Reactor.source.feature.group" version="3.2.0"/>
			<repository location="https://dl.bintray.com/vogellacompany/OpenReq-Eclipse/Eclipse-Plugin-Deps/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181123-1405"/>
			<unit id="org.eclipse.platform.sdk" version="4.10.0.I20181129-0330"/>
			<repository location="http://download.eclipse.org/releases/2018-12/201812071000"/>
		</location>
	</locations>
</target>